<div class="list-group">
  <a href="#" class="list-group-item active">
    Angular Classes
  </a>
  <a href="#" class="list-group-item">
  ng-scope : Usage: angular applies this class to any element that where a new scope is defined. (see scope guide for more information about scopes)
ng-binding
</a>
  <a href="#" class="list-group-item">

  Usage: angular applies this class to any element that is attached to a data binding, via ng-bind or curly braces, for example. (see databinding guide)
ng-invalid, ng-valid
</a>
  <a href="#" class="list-group-item">
 Usage: angular applies this class to an input widget element if that element's input does not pass validation. (see input directive)
ng-pristine, ng-dirty
</a>
  <a href="#" class="list-group-item">Usage: angular input directive applies ng-pristine class to a new input widget element which did not have user interaction. Once the user interacts with the input widget the class is changed to ng-dirty.</a>
</div>