<ul class="list-group">
	<li class="list-group-item">
	AngularJS applications cannot be nested within each other
	</li>
	<li class="list-group-item">
	AngularJS Controller should not contain DOM Manipulation, Would be always better to chose it for only business Logic and depend it with other concepts
	</li>
	<li class="list-group-item">
	Bootstrapping Application would be better with angular.module rather than ngApp Directive
	</li>
	<li class="list-group-item">
	A common mistake is to declare the controller again using ng-controller in the template itself. This will cause the controller to be attached and executed twice.
	</li>
	<li class="list-group-item">
	Using ngBind is Preferrable Option in contrast to ngCloak for hiding uncomplied content of Angular Expressions
	</li>
	<li class="list-group-item">
	Using Angular markup like {{hash}} in an href attribute will make the link go to the wrong URL if the user clicks it before Angular has a chance to replace the {{hash}} markup with its value
	</li>
	<li class="list-group-item">
		ngPluralize is the core options to use for localization &amp; internalization
	</li>
	<li class="list-group-item">
		Angular JS has a CSP Included subject - Content Security Policy, which allows to restrict some security threats with in the application from client side
	</li>
	<li class="list-group-item">
		Use ngModel directive whereever possible to maintain the state control of the application as such with communication as a statemachine
	</li>
	<li class="list-group-item">
		Angular JS Apps if they are multiplied with such no in single app it is better to use manual bootstrapping to avoid conficts.	
	</li>
	<li class="list-group-item">
		Angular JS is a MV* or MVW Framework - Model View Whatever Framework
	</li>
	<li class="list-group-item">
		Be Focused to write ng-app/ngApp are same, coming to custom directives - it is same as custom-dir/customDir
	</li>
	<li class="list-group-item">
		<a href="https://egghead.io/">Best Learning Angular js Site</a>  
	</li>
</ul>
